# General Settings
DEBUG=True
SECRET_KEY=django-insecure-u)x*7t@i9*l61n7=7v%(0v_871vm(8k&3(+-^7wjxl%h1-ik_!

# Database Configuration
# format: postgres://USER:PASSWORD@HOST:PORT/NAME
# LOCAL_DATABASE_URL=postgres://postgres:password@localhost:5432/vasthramalika
